<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message | create</title>
</head>
<body>
    <h1 align="center">Create Message</h1>
    <form method="POST" action="/create">
        {% csrf_token %}
        <table >
            <tr>
                <td>Enter name:</td>
                <td><input type="text" name="uname" placeholder="sender name"/></td>
            </tr>
            <tr>
                <td>Email id:</td>
                <td><input type="email" name="uemail" placeholder="sender email"/></td>
            </tr>
            <tr>
                <td>Mobile number:</td>
                <td><input type="number" name="mobile" placeholder="sender mobile"/></td>
            </tr>
            <tr>
                <td>Message</td>
                <td><textarea name="msg" cols="30" rows="5" ></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="send" /></td>
            </tr>
        </table>
    </form>
</body>
</html>