<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message | edit</title>
</head>
<body>
    <h1 align="center">Edit Message</h1>
    <form method="POST" action="/edit/{{data.id}}">
        {% csrf_token %}
        <table >
            <tr>
                <td>Enter name:</td>
                <td><input type="text" name="uname" value="{{data.name}}"/></td>
            </tr>
            <tr>
                <td>Email id:</td>
                <td><input type="email" name="uemail" value="{{data.email}}"/></td>
            </tr>
            <tr>
                <td>Mobile number:</td>
                <td><input type="number" name="mobile" value="{{data.mobile}}"/></td>
            </tr>
            <tr>
                <td>Message</td>
                <td><textarea name="msg" cols="30" rows="5" >{{data.msg}}</textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="update" /></td>
            </tr>
        </table>
    </form>
</body>
</html>