{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<div class="col-md-10">
    <div class="row">
        <div class="col-md-4 mt-5">
            <img src="{%static 'images/bts.jpg' %}" alt="BTS" class="container-fluid" height="70%">
            <p class="product-description">BTS, also known as the Bangtan Boys, is a South Korean boy band formed in 2010. The band consists of Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook, 
                who co-write or co-produce much of their material. </p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-5">
            <img src="{%static 'images/rm.jpg' %}" alt="Kim Namjoon" class="container-fluid" height="70%">
            <p class="product-description">Kim Nam-joon, known professionally as RM, is a South Korean rapper, songwriter, and record producer.
                 He is the leader of South Korean boy band BTS. </p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-5">
            <img src="{%static 'images/jin.jpg' %}" alt="Kim Seokjin" class="container-fluid" height="70%">
            <p class="product-description">Kim Seok-jin, known professionally as Jin, is a South Korean singer, songwriter, and member of the South Korean boy band BTS.
                Jin has co-written and released three solo tracks with BTS</p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-5">
            <img src="{%static 'images/suga.jpg' %}" alt="Min Yoongi" class="container-fluid" height="70%">
            <p class="product-description">Min Yoon-gi, known professionally by his stage names Suga and Agust D, is a South Korean rapper, songwriter and record producer. 
                Under Big Hit Entertainment, he debuted as a member of the South Korean boy band BTS in 2013.</p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-4">
            <img src="{%static 'images/jhope.jpg' %}" alt="Jung Hoseok" class="container-fluid" height="68%" style="margin-top:24px;">
            <p class="product-description">Jung Ho-seok, better known by his stage name J-Hope, is a South Korean rapper, singer-songwriter, dancer, and record producer.
                He made his debut as a member of South Korean boy band BTS in 2013</p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-5">
            <img src="{%static 'images/jimin.jpg' %}" alt="Park Jimin" class="container-fluid" height="70%" style="margin-bottom:20px;">
            <p class="product-description">Park Ji-min, known mononymously as Jimin, is a South Korean singer and dancer. 
                In 2013, he made his debut as a member of the South Korean boy band BTS, under the record label Big Hit Entertainment</p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-4">
            <img src="{%static 'images/v.jpg' %}" alt="Kim Taehyung" class="container-fluid" height="70%">
            <p class="product-description">Kim Tae-hyung, known professionally as V, is a South Korean singer and a member of the boy band BTS. 
                Since his debut with the band in 2013, V has performed three solo songs under their name</p>
        </div><!----product 1 ends-->
        <div class="col-md-4 mt-4">
            <img src="{%static 'images/jk.jpg' %}" alt="Jeon Jungkook" class="container-fluid" height="70%">
            <p class="product-description">Jeon Jung-kook, also known mononymously as Jungkook, is a South Korean singer. 
                He rose to prominence as a member and vocalist of the South Korean boy band BTS.</p>
        </div><!----product 1 ends-->

    </div>
</div>  

      
{% endblock 'main' %}
