 {% load static %}
 <!-------footer starts---->
 <div class="row mt-5">
    <div class="col-md-4">
        <h5 style="color: rgb(172, 7, 172);">Address</h5>
        <hr>
        <p class="purple-text">First Floor,Building No.54<br>
        Kims Avenue,Near Rose Park<br>
        Juhu,Mumbai<br><br>
        <i class="bi bi-telephone-fill"></i>&nbsp;: 7887477265<br>
        <i class="bi bi-envelope-fill"></i>&nbsp; : jasoriyapalak@gmail.com</p>
    </div>
    <div class="col-md-4">
        <h5 style="color: rgb(172, 7, 172);">Quick Links</h5>
        <hr>
        <p><a href="/home" class="anchor" style="color: rgb(172, 7, 172);">Home</a></p>
        <p><a href="/about" class="anchor"style="color: rgb(172, 7, 172);">About</a></p>
        <p><a href="/viewcart" class="anchor"style="color: rgb(172, 7, 172);">Cart</a></p>
        <p><a href="/contact" class="anchor"style="color: rgb(172, 7, 172);">Contact</a></p>
    </div>
    <div class="col-md-4">
        <h5 style="color: rgb(172, 7, 172);">Contact Us</h5>
        <hr>
        <h5><a href="http://www.facebook.com" style="color: rgb(172, 7, 172);"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="http://www.instagram.com"style="color: rgb(172, 7, 172);"><i class="bi bi-instagram"></i></a></h5>
        <h5><a href="http://www.twitter.com"style="color: rgb(172, 7, 172);"><i class="bi bi-twitter"></i></a></h5>
        <h5><a href="http://www.linkedin.com"style="color: rgb(172, 7, 172);"><i class="bi bi-linkedin"></i></a></h5>
    </div>
</div>
<!------footer ends------>
</div>
<script src="{%static '%asset/js/popper.min.js'%}"></script>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script> 
</body>
